version: "3.9"

services:
  db:
    image: postgres:16
    container_name: rbac_postgres
    restart: always
    env_file:
      - ./cmd/api/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
